.idea
*.iml
*.log
*.pyc
*.class
/build/
/deploy*/
/bin/
/out/
/.gradle/
/classes/
/venv/
/logs/
/scripts/results/
/tmp/

.ipynb_checkpoints/

npm-debug.log
node_modules/

*.zip
/scripts/result_statistics/
*.class

/scripts/logs/log*.txt